@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "League Spartan", sans-serif;

}
.container .up{
    
    display: flex;
    justify-content: space-around;
    margin: 150px auto;
}
.container .up .left{
    width: 30%;
    background-color: aqua;
}
.container .up .left h1{
    font-size: 3.5rem;
    color:#4d1f4f ;

}
.container .up .left p{
    margin: 30px 0;
    color:hsl(303, 10%, 53%) ;
   
}
.container .right{

    display: flex;
    flex-direction: column;
    
    color: aliceblue;
    width: 500px;
}
.container .right .child{
display: flex;
margin: 20px;
color: hsl(303, 10%, 53%);
background-color: hsl(300, 24%, 96%);
padding: 10px;
border-radius: 5px;
 
}
.container .right .child .stars{
   
margin-right: 20px;
padding: 0 5px;
}
.container .right .child:nth-child(1){
    width: 70%;
   
}
.container .right .child:nth-child(2){
width: 75%;
margin-left: 50px;
}
.container .right .child:nth-child(3){
    width: 80%;
    margin-left: 70px;
}